<div class="card mx-auto reset-form">
    @if (!isReset && !isSent) {
    <form [formGroup]="sendResetForm" (ngSubmit)="onSendSubmit()">

        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            @if (submitted && f['email'].errors) {
            <div class="invalid-feedback">
                @if (f['email'].errors['required']) {
                <div>Email is required</div>
                }
                @if (f['email'].errors['email']) {
                <div>Email is invalid</div>
                }
            </div>
            }
        </div>

        <div class="form-group form-footer">
            <div>
                <button type="submit" class="btn btn-primary">Send password reset email</button>
                <button class="btn" [routerLink]="['/login']">Go back to login.</button>
            </div>
        </div>
    </form>
    }
    @if (!isReset && isSent && isSuccess) {
    <div>
        <span>An email has been sent to your address.<br /> Please use the link in it to reset your password.</span>
    </div>
    <div class="form-group form-footer">
        <div>
            <button class="btn" [routerLink]="['/login']">Go back to login.</button>
        </div>
    </div>
    }
    @if (!isReset && isSent && !isSuccess) {
    <div>
        <span>There was a problem sending the reset email. Please check that the email address is the one you used in your
            registration or try again later.</span>
    </div>
    <div class="form-group form-footer">
        <div>
            <button class="btn" [routerLink]="['/login']">Go back to login.</button>
        </div>
    </div>
    }
    @if (isReset && !isSent) {
    <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()">

        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            @if (submitted && f['password'].errors) {
            <div class="invalid-feedback">
                @if (f['password'].errors['required']) {
                <div>Password is required</div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
            @if (submitted && f['confirmPassword'].errors) {
            <div class="invalid-feedback">
                @if (f['confirmPassword'].errors['required']) {
                <div>Confirm Password is required</div>
                }
                @if (f['confirmPassword'].errors['matching']) {
                <div>Confirm Password does not match</div>
                }
            </div>
            }
        </div>

        <div class="form-group form-footer">
            <div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
                <button class="btn" [routerLink]="['/login']">Go back to login.</button>
            </div>
        </div>
    </form>
    }
    @if (isReset && isSent && isSuccess) {
    <div>
        <span>Your password has been successfully reset.</span>
    </div>
    <div class="form-group form-footer">
        <div>
            <button class="btn" [routerLink]="['/login']">Go back to login.</button>
        </div>
    </div>
    }
    @if (isReset && isSent && !isSuccess) {
    <div>
        <span>There was a problem reseting your password. <br /> Please try again later.</span>
    </div>
    <div class="form-group form-footer">
        <div>
            <button class="btn" [routerLink]="['/login']">Go back to login.</button>
        </div>
    </div>
    }
</div>